<!-- Loader -->
<div class="loader">
<div class="loader-img"></div>
</div>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="">Trilli Bi - Bootstrap Landing Page</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="top-navbar-1">
  <ul class="nav navbar-nav navbar-right">
    <li><a class="scroll-link" href="#top-content">Top</a></li>
    <li><a class="scroll-link" href="#features">Features</a></li>
    <li><a class="scroll-link" href="#screenshots">Screenshots</a></li>
    <li><a class="scroll-link" href="#pricing">Price</a></li>
    <li><a class="scroll-link" href="#testimonials">Testimonials</a></li>
    <li><a class="scroll-link" href="#about-us">About</a></li>
    <li><a class="scroll-link" href="#contact">Contact</a></li>
  </ul>
</div>
</div>
</nav>

<!-- Top content -->
<div class="top-content section-container">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text">
                    <h1 class="wow fadeInLeftBig"><strong>Trilli Bi</strong> Learns To Code</h1>
                    <div class="divider-1 wow fadeInUp"><span></span></div>
                    <div class="description wow fadeInLeftBig">
                      We have been working very hard to create the new version of our course.
                      It comes with a lot of new features, easy to follow videos and images. Check it out now!
                    </div>
                    <div class="top-big-link wow fadeInUp">
                      <a class="btn btn-link-1 scroll-link" href="#features">Take a look</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="features-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 features section-description wow fadeIn">
              <h2>Main features</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 features-box wow fadeInUp">
            <div class="features-box-icon">
              <span aria-hidden="true" class="icon_cogs"></span>
            </div>
              <h3>Easy To Use</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </div>
            <div class="col-sm-4 features-box wow fadeInDown">
            <div class="features-box-icon">
              <span aria-hidden="true" class="icon_pencil"></span>
            </div>
              <h3>Responsive Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </div>
            <div class="col-sm-4 features-box wow fadeInUp">
            <div class="features-box-icon">
              <span aria-hidden="true" class="icon_cloud"></span>
            </div>
              <h3>Bootstrap Engine</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
            </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="modal-button">
                  <button class="btn" data-toggle="modal" data-target="#modal-features">Learn more</button>
                </div>
        </div>
      </div>
  </div>
</div>

<!-- More features -->
<div class="more-features-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 more-features section-description wow fadeIn">
              <h2>More features</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6 more-features-box wow fadeInLeft">
              <img src="<%= asset_path 'img/screenshots/admin-1.png' %>" alt="">
          </div>
          <div class="col-sm-6 more-features-box wow fadeInUp">
              <div class="more-features-box-text">
                <div class="more-features-box-text-icon"><span aria-hidden="true" class="icon_pin"></span></div>
                <h3>Ut wisi enim ad minim</h3>
                <div class="more-features-box-text-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Ut wisi enim ad minim veniam, quis nostrud.
                </div>
              </div>
              <div class="more-features-box-text">
                <div class="more-features-box-text-icon"><span aria-hidden="true" class="icon_cog"></span></div>
                <h3>Quis nostrud exerci tat</h3>
                <div class="more-features-box-text-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                  Ut wisi enim ad minim veniam, quis nostrud.
                </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="modal-button">
                  <button class="btn" data-toggle="modal" data-target="#modal-more-features">Watch the video</button>
                </div>
        </div>
      </div>
  </div>
</div>

<!-- Screenshots -->
<div class="screenshots-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 screenshots section-description wow fadeIn">
              <h2>Screenshots</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                est notare quam littera gothica, quam nunc putamus parum claram lorem.
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-4 screenshot-box wow fadeInUp">
              <span aria-hidden="true" class="icon_group" data-img-src="<%= asset_path 'img/screenshots/1.jpg' %>" data-img-title="Recent users"></span>
              <h3>Recent users</h3>
          </div>
        <div class="col-sm-4 screenshot-box wow fadeInDown">
          <span aria-hidden="true" class="icon_clock" data-img-src="<%= asset_path 'img/screenshots/2.jpg' %>" data-img-title="Real time data"></span>
          <h3>Real time data</h3>
          </div>
          <div class="col-sm-4 screenshot-box wow fadeInUp">
          <span aria-hidden="true" class="icon_datareport_alt" data-img-src="<%= asset_path 'img/screenshots/3.jpg' %>" data-img-title="User statistics"></span>
          <h3>User statistics</h3>
          </div>
      </div>
  </div>
</div>

<!-- Pricing -->
<div class="pricing-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 pricing section-description wow fadeIn">
              <h2>Pricing</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 pricing-box wow fadeInUp">
            <div class="pricing-box-price">$12<span> / month</span></div>
              <h3>Basic</h3>
              <h4>Freelancer</h4>
              <div class="pricing-box-features">
                <ul>
                  <li>1000 <span>lorem</span></li>
                  <li>Normal <span>ipsum</span></li>
                  <li>500 <span>consectetur</span></li>
                  <li>300MB <span>amet</span></li>
                </ul>
              </div>
              <div class="pricing-box-sign-up">
                <a class="btn btn-link-1" href="#">Sign up</a>
              </div>
            </div>
            <div class="col-sm-4 pricing-box pricing-box-best wow fadeInDown">
            <div class="pricing-box-price">$35<span> / month</span></div>
              <h3>Ultimate</h3>
              <h4>Best value</h4>
              <div class="pricing-box-divider"><span></span></div>
              <div class="pricing-box-features">
                <ul>
                  <li>3000 <span>lorem</span></li>
                  <li>2x <span>ipsum</span></li>
                  <li>2000 <span>consectetur</span></li>
                  <li>500MB <span>amet</span></li>
                </ul>
              </div>
              <div class="pricing-box-sign-up">
                <a class="btn btn-link-1" href="#">Sign up</a>
              </div>
            </div>
            <div class="col-sm-4 pricing-box wow fadeInUp">
            <div class="pricing-box-price">$75<span> / month</span></div>
              <h3>Platinum</h3>
              <h4>Big company</h4>
              <div class="pricing-box-features">
                <ul>
                  <li>5000 <span>lorem</span></li>
                  <li>4x <span>ipsum</span></li>
                  <li>4000 <span>consectetur</span></li>
                  <li>900MB <span>amet</span></li>
                </ul>
              </div>
              <div class="pricing-box-sign-up">
                <a class="btn btn-link-1" href="#">Sign up</a>
              </div>
            </div>
      </div>
  </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 testimonials section-description wow fadeIn">
            <div class="section-description-icon"><span aria-hidden="true" class="icon_chat"></span></div>
              <h2>Testimonials</h2>
              <div class="testimonial-active"></div>
              <div class="testimonial-single">
                <p>
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                  lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                  <br>
                  <a href="">John Doe, johndoe.com</a>
                </p>
                <div class="testimonial-single-image">
                  <img src="<%= asset_path 'img/testimonials/1.jpg' %>" alt="" data-at2x="<%= asset_path 'img/testimonials/1.jpg' %>">
                </div>
              </div>
              <div class="testimonial-single">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et.
                  <br>
                  <a href="">Jane Jonsson, blog.jane.com</a>
                </p>
                <div class="testimonial-single-image">
                  <img src="<%= asset_path 'img/testimonials/2.jpg' %>" alt="" data-at2x="<%= asset_path 'img/testimonials/2.jpg' %>">
                </div>
              </div>
              <div class="testimonial-single">
                <p>
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                  lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                  <br>
                  <a href="">John Doe, johndoe.com</a>
                </p>
                <div class="testimonial-single-image">
                  <img src="<%= asset_path 'img/testimonials/3.jpg' %>" alt="" data-at2x="<%= asset_path 'img/testimonials/3.jpg' %>">
                </div>
              </div>
              <div class="testimonial-single">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et.
                  <br>
                  <a href="">Jane Jonsson, blog.jane.com</a>
                </p>
                <div class="testimonial-single-image">
                  <img src="<%= asset_path 'img/testimonials/4.jpg' %>" alt="" data-at2x="<%= asset_path 'img/testimonials/4.jpg' %>">
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- About us -->
<div class="about-us-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 about-us section-description wow fadeIn">
              <h2>About our team</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 about-us-box wow fadeInUp">
            <div class="about-us-photo">
              <img src="<%= asset_path 'img/team/1.jpg' %>" alt="" data-at2x="<%= asset_path 'img/team/1.jpg' %>">
            </div>
              <h3>John Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a class="ultm ultm-facebook ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-dribbble ultm-32 ultm-square ultm-gray-to-color" href=""></a>
                <a class="ultm ultm-twitter ultm-32 ultm-square ultm-gray-to-color" href=""></a>
            </div>
          </div>
          <div class="col-sm-4 about-us-box wow fadeInDown">
            <div class="about-us-photo">
              <img src="<%= asset_path 'img/team/2.jpg' %>" alt="" data-at2x="<%= asset_path 'img/team/2.jpg' %>">
            </div>
              <h3>Tim Brown</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a class="ultm ultm-facebook ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-dribbble ultm-32 ultm-square ultm-gray-to-color" href=""></a>
                <a class="ultm ultm-twitter ultm-32 ultm-square ultm-gray-to-color" href=""></a>
            </div>
          </div>
          <div class="col-sm-4 about-us-box wow fadeInUp">
            <div class="about-us-photo">
              <img src="<%= asset_path 'img/team/3.jpg' %>" alt="" data-at2x="<%= asset_path 'img/team/3.jpg' %>">
            </div>
              <h3>Sarah Red</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a class="ultm ultm-facebook ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-dribbble ultm-32 ultm-square ultm-gray-to-color" href=""></a>
                <a class="ultm ultm-twitter ultm-32 ultm-square ultm-gray-to-color" href=""></a>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="modal-button">
                  <button class="btn" data-toggle="modal" data-target="#modal-about-us">Learn more</button>
                </div>
        </div>
      </div>
  </div>
</div>

<!-- Subscription form -->
<div class="subscribe-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 subscribe section-description wow fadeIn">
            <div class="section-description-icon"><span aria-hidden="true" class="icon_mail"></span></div>
              <h2>Email updates</h2>
              <p>Sign up now to our newsletter to receive the latest news, updates and special offers:</p>
              <form class="form-inline" role="form" action="assets/subscribe.php" method="post">
                <div class="form-group">
                  <label class="sr-only" for="subscribe-email">Email address</label>
                    <input type="text" name="email" placeholder="Enter your email..." class="subscribe-email form-control" id="subscribe-email">
                  </div>
                  <button type="submit" class="btn">Subscribe</button>
              </form>
              <div class="success-message"></div>
              <div class="error-message"></div>
          </div>
      </div>
  </div>
</div>

<!-- Contact us -->
<div class="contact-container section-container section-container-full-bg">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 contact section-description wow fadeIn">
              <h2>Contact us</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 contact-address wow fadeInLeft">
              <h3>Contact details</h3>
              <p class="contact-address-description">
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam corpersusci pit lobortis nisl ut
                aliquip ex ea:
              </p>
              <p><i class="fa fa-map-marker"></i>Via Principe Amedeo 9, Torino, Italy</p>
              <p><i class="fa fa-phone"></i>Phone: 0039 333 12 68 347</p>
              <p><i class="fa fa-envelope"></i>Email: <a href="">contact@yourdomain.com</a></p>
          </div>
          <div class="col-sm-6 contact-form wow fadeInUp">
              <h3>Send us an email</h3>
              <form role="form" action="assets/contact.php" method="post">
                <div class="form-group">
                  <label class="sr-only" for="contact-email">Email</label>
                    <input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="contact-subject">Subject</label>
                    <input type="text" name="subject" placeholder="Subject..." class="contact-subject form-control" id="contact-subject">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea name="message" placeholder="Message..." class="contact-message form-control" id="contact-message"></textarea>
                  </div>
                  <button type="submit" class="btn">Send it</button>
              </form>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="scroll-page">
                  <a class="scroll-link" href="#top-content"><i class="fa fa-chevron-up"></i></a>
                </div>
        </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
      <div class="row">
            <div class="col-sm-7 footer-copyright">
              &copy; Trilli Bi Bootstrap Template by <a href="http://azmind.com">Azmind</a>.
            </div>
            <div class="col-sm-5 footer-social">
              <a class="ultm ultm-facebook ultm-32 ultm-square ultm-gray-to-color" href=""></a>
            <a class="ultm ultm-dribbble ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-twitter ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-google-plus-1 ultm-32 ultm-square ultm-gray-to-color" href=""></a>
              <a class="ultm ultm-pinterest ultm-32 ultm-square ultm-gray-to-color" href=""></a>
            </div>
      </div>
  </div>
</footer>


<!-- MODAL: Main features -->
<div class="modal fade" id="modal-features" tabindex="-1" role="dialog" aria-labelledby="modal-features-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modal-features-label">Main features</h4>
      </div>
      <div class="modal-body">
        <p><img src="<%= asset_path 'img/modal/1.jpg' %>" alt=""></p>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
              <ul>
                <li>Easy To Use</li>
                <li>Awesome Design</li>
                <li>Cloud Based</li>
              </ul>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                commodo consequat nostrud tation.
              </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: More features -->
<div class="modal fade" id="modal-more-features" tabindex="-1" role="dialog" aria-labelledby="modal-more-features-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modal-more-features-label">More features</h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 video-box">
      <iframe class="embed-responsive-item" src="//player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=e8643e" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
        <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                commodo consequat nostrud tation.
              </p>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL: About our team -->
<div class="modal fade" id="modal-about-us" tabindex="-1" role="dialog" aria-labelledby="modal-about-us-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="modal-about-us-label">About our team</h4>
      </div>
      <div class="modal-body">
        <p><img src="<%= asset_path 'img/modal/2.jpg' %>" alt=""></p>
        <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                commodo consequat nostrud tation.
              </p>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>